body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #544837;
  font-size: 16px;
  line-height: 26px;
}

button {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
}

.title {
  color: #2F281E;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.container {
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  margin-left: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 24px;
}

.menu_list-link {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
}

.user-nav {
  margin-left: 52px;
  margin-right: 14px;
}

.user-nav__link {
  color: #173A56;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 11px 23px;
  text-decoration: none;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.user-nav__link + .user-nav__link {
  margin-left: 14px;
  border-color: transparent;
  background-color: #ff9900;
  color: #ffffff;
}

.top {
  margin-bottom: 110px;
}

.top__inner {
  padding: 133px 0 180px;
  background-image: url(../images/top-background.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.top__title {
  font-size: 44px;
  line-height: 54px;
  max-width: 518px;
  margin-bottom: 30px;
}

.top__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 460px;
  margin-bottom: 45px;
}

.top__btn {
  display: inline-block;
  color: #ffffff;
  background-color: #ff9900;
  border-radius: 4px;
  padding: 14px 41px;
  margin-right: 30px;
}

.top__link {
  font-weight: 600;
  line-height: 24px;
  color: #ff9900;
  padding-left: 25px;
  position: relative;
}

.top__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 19px;
  background-image: url(../images/play-icon.svg);
}

.tools {
  background-image: url(../images/tools__background.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-bottom: 90px;
  margin-bottom: 120px;
}

.tools__title {
  margin: 0 auto;
  max-width: 540px;
  margin-bottom: 54px;
  text-align: center;
}

.tools__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 15px;
}

.tools__item {
  max-width: 240px;
}

.tools__item-img {
  margin-bottom: 30px;
}

.tools__item-title {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 13px;
}

.tools__link {
  display: block;
  background-color: #ff9900;
  color: #ffffff;
  line-height: 24px;
  border-radius: 4px;
  padding: 15px 32px 14px;
  text-transform: uppercase;
  width: 172px;
  margin: 0 auto;
}

.direction {
  margin-bottom: 200px;
}

.direction__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.direction__item-content {
  padding-top: 26px;
  max-width: 486px;
}

.direction__item-pretitle {
  margin-bottom: 3px;
}

.direction__item-title {
  margin-bottom: 22px;
}

.direction__item-subtitle {
  margin-bottom: 12px;
  font-size: 16px;
}

.direction__item-text {
  margin-bottom: 25px;
}

.direction__item-img {
  height: 100%;
}

.direction_item-list {
  list-style: none;
}

.direction__item-list-element {
  margin-bottom: 30px;
  padding-left: 65px;
  position: relative;
}

.direction__item-list-element::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 35px;
  height: 35px;
  background-image: url(../images/direction__item-icon.svg);
}

.team {
  padding: 230px 0 380px;
  margin-bottom: 30px;
  background-image: url(../images/team-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.team__content {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

.team__title {
  margin-bottom: 22px;
}

.team__text {
  margin-bottom: 45px;
  color: #567592;
}

.team__btn {
  display: inline-block;
  color: #ffffff;
  background-color: #ff9900;
  border-radius: 4px;
  padding: 15px 30px;
}

.team__items {
  position: relative;
}

.team__item-1 {
  position: absolute;
  bottom: 177px;
  right: 95px;
  border-radius: 50% 50%;
}

.team__item-2 {
  position: absolute;
  top: 10px;
  right: 0;
  border-radius: 50% 50%;
}

.team__item-3 {
  position: absolute;
  top: 150px;
  right: 250px;
  border-radius: 50% 50%;
}

.team__item-4 {
  position: absolute;
  top: 30px;
  left: 160px;
  border-radius: 50% 50%;
}

.team__item-5 {
  position: absolute;
  bottom: 120px;
  left: 95px;
  border-radius: 50% 50%;
}

.team__item-img {
  width: 98px;
  height: 98px;
  border-radius: 50% 50%;
}

.team__item-text {
  position: absolute;
  background-image: url(../images/text_background.svg);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  width: 330px;
  height: 70px;
  padding: 15px 20px;
  top: -40px;
  left: -270px;
}
